<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class='header-mailer' style="display: flex; justify-content: center; background-color: black; width: 50em; margin-right: auto; margin-left:auto; margin-top: 0; margin-bottom: 0; padding: 2em">
      <div class='header-sdplogo' style='margin-left: auto; height: 30em; width: 20em'>
        <%= image_tag attachments['sdpfucsia.png'].url, style: "height: 30em; width: 20em" %>
      </div>
      <div class='header-container' style='margin-right: auto; margin-left: 2em'>
        <div class='header-title' style="color: #00d4ae">
          <h1 style=" border-bottom: #00d4ae solid 2px">¡Gracias <%= @user.name %>, por inscribirte a la Semana de la Publicidad 2020!</h1>
        </div>

        <button class='header-button' style="background-color: transparent; border: white solid 2px; border-radius: 1rem; font-weight: bolder; font-size: 1em; height: 3em; padding: 0.5em; margin-right: 2em; color: white">
          <a style="text-decoration: none; color: white" target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MWtjMmlkdnRtdmViaTdnZ3ZnN2kwMmU5dHRfMjAyMDEyMDJUMTQwMDAwWiBpbmZvcm1lc3NkcEBt&tmsrc=informessdp%40gmail.com">AGENDA DÍA 1</a>
        </button>
        <button class='header-button' style="background-color: transparent; border: white solid 2px; border-radius: 1rem; font-weight: bolder; font-size: 1em; height: 3em; padding: 0.5em; color: white">
          <a style="text-decoration: none; color: white" target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MWtjMmlkdnRtdmViaTdnZ3ZnN2kwMmU5dHRfMjAyMDEyMDNUMTQwMDAwWiBpbmZvcm1lc3NkcEBt&tmsrc=informessdp%40gmail.com">AGENDA DÍA 2</a>
        </button>
        <div class='header-parragraph' style="color: white">
          <p style="color: white">Te estaremos enviando los links de acceso para cada fecha del evento 24 horas antes del inicio. </p>
          <p style="color: white">Prepárate para descubrir las experiencias mas inspiradoras en publicidad, medios y marketing. </p>
        </div>
        <div class='white-lock' style='height: 5em; widht: 5em'>
          <%= image_tag attachments['white.png'].url, style: "height: 5em; width: 5em" %>
        </div>

        <div class='header-phrase' style="color: #00d4ae; font-size: 2em; font-weight: bold">
          <p>Trabajando Juntos</p>
        </div>
        <div class='header-threelogos'>
          <%= image_tag attachments['logos.png'].url, style: "height: 5em; width: 20em" %>
        </div>
      </div>
    </div>
    <div class='sponsors' style='text-align: center;'>
      <%= image_tag attachments['logosblack.jpeg'].url, style: "height: 45em; width: 50em; margin-right: auto; margin-left:auto; margin-top: 0" %>
    </div>
  </body>
</html>