<div class="footer" id='footer1'>


  <div class="sponsors">
    <div class="atitle">
      <h2>AUSPICIADORES</h2>
    </div>
    <div class="logos">
      <div class="logo1">
        <%= image_tag "one.png", class: "pic" %>
      </div>
      <div class="logo2">
        <%= image_tag "two.png", class: "pic" %>
      </div>
    </div>
    <div class="stitle">
      <h2>MEDIA PARTNERS </h2>
    </div>
    <div class="logos">
      <div class="logo3">
        <%= image_tag "three.png", class: "pic" %>
      </div>
    </div>
    <div class="ltitle">
      <h2>ALIADOS</h2>
    </div>
    <div class="logos">
      <div class="logo4">
        <%= image_tag "forth.png", class: "pic" %>
      </div>
      <div class="logo5">
        <%= image_tag "fifth.png", class: "pic" %>
      </div>
    </div>

  </div>
  <div class="ftitle">
    <h2>CONTACTO</h2>
  </div>
  <div class="foot">
    <div class="follow">
      <h5>Contactanos mandando un email a la siguiente dirección:</h5>
    </div>
    <div class="flinks">
      <div class="link">
        <span href=""><i class="fa fa-envelope" aria-hidden="true"></i> informes@sdp.pe </span>
      </div>
    </div>
  </div>
  <div class="end">
    <div class="copy">
      <p>Semana De la Publicidad <span>&copy;</span></p>
    </div>

  </div>

</div>