<header class='header'>
  <%= render 'navbar'%>
  <div class='header-container'>

    <div class='yellow-picture'>
      <div class="yellow #yel">
        <%= image_tag 'upper', class: 'upper' %>
      </div>
      <div class="yellow1 ">
        <%=  image_tag 'emana', class: 'emana' %>
      </div>
      <div class="yellow2">
        <%= image_tag 'ela', class: 'ela' %>
      </div>
      <div class="yellow3">
        <%= image_tag 'ublicidad', class: 'ublicidad' %>
      </div>
    </div>

    <div class='col-flex'>
      <div class='sdp-container'>
        <div class='white-lock-div'>
          <%= image_tag 'white_lock', class: 'white-lock'%>
        </div>
        <div class='date-header'>
          <p>2 - 3 DIC 2020</p>
        </div>
      </div>
      <div class='content-h'>
        <div class='work-tougheter'>
          <p>Trabajando Juntos</p>
        </div>
      </div>
      <div class='logos'>
        <%= image_tag 'logosedit', class: 'trhee-logos'%>
        <div class='div-button'>
          <button class='button-header'>INSCRIBIRME</button>
        </div>
      </div>
    </div>
    
  </div>
</header>