<div class="speakers" id='speaker1'>
  <div class="s-title">
    <div class="s-abs">
      <h1>SPEAKERS</h1>
    </div>
  </div>
  <% cache do %>
  <div class="speaker">

      <div class="fpic">
        <div class="pic">
          <div class="img">
            <%= image_tag 'diegoFigueroa.png', class: 'girl' %>
          </div>
          <div class="name">
            <h3>DIEGO FIGUEROA</h3>
          </div>
          <div class="pos" >
            <h4>Facebook</h4>
          </div>
          <div class="loc">
            <h4>Global Brand Marketing & Strategy</h4>
          </div>
        </div>
        <div class="pic">
          <div class="img">
            <%= image_tag 'DiegoMart.png', class: 'girl'  %>
          </div>
          <div class="name">
            <h3>DIEGO MARTI</h3>
          </div>
          <div class="pos" >
            <h4>Droga5</h4>
          </div>
          <div class="loc">
            <h4>HR Director</h4>
          </div>
        </div>
        <div class="pic">
          <div class="img">
            <%= image_tag 'roberto.png', class: 'girl' %>
          </div>
          <div class="name">
            <h3>ROBERTO RAMIREZ</h3>
          </div>
          <div class="pos" >
            <h4>Mastercard</h4>
          </div>
          <div class="loc">
            <h4>SVP, Marketing and Communications - LAC</h4>
          </div>
        </div>
        <div class="pic">
          <div class="img">
            <%= image_tag 'Tomas.png', class: 'girl' %>
          </div>
          <div class="name">
            <h3>TOMÁS ANSELMI</h3>
          </div>
          <div class="pos" >
            <h4>The Walt Disney </br>Company</h4>
          </div>
          <div class="loc">
            <h4>Sr Manager South Cone</h4>
          </div>
        </div>
        <div class="pic">
          <div class="img">
            <%= image_tag 'KARLEY.png', class: 'girl' %>
          </div>
          <div class="name">
            <h3>KARELY MUNÁRRIZ</h3>
          </div>
          <div class="pos" >
            <h4>Telefónica México</h4>
          </div>
          <div class="loc">
            <h4>Directora Marca y Comunicaciones Integradas de Marketing</h4>
          </div>
        </div>
      </div>

      <div class="fpic">
        <div class="pic">
          <div class="img">
            <%= image_tag 'diegoArellano.png', class: 'girl'  %>
          </div>
          <div class="name">
            <h3>DIEGO ARELLANO</h3>
          </div>
          <div class="pos" >
            <h4>TBWA</h4>
          </div>
          <div class="loc">
            <h4>Creative Director</h4>
          </div>
        </div>

        <div class="pic">
          <div class="img">
            <%= image_tag 'giancarlo.png', class: 'girl'  %>
          </div>
          <div class="name">
            <h3>GIANCARLO RODAS</h3>
          </div>
          <div class="pos" >
            <h4>Grey Group</h4>
          </div>
          <div class="loc">
            <h4>Creative Director</h4>
          </div>
        </div>
        <div class="pic">
          <div class="img">
            <%= image_tag 'ARIANA_Mesa.png', class: 'girl'  %>
          </div>
          <div class="name">
            <h3>ARIANA RODRIGUEZ</h3>
          </div>
          <div class="pos" >
            <h4>Namshi.com</h4>
          </div>
          <div class="loc">
            <h4>Videographer</h4>
          </div>
        </div>
        <div class="pic">
          <div class="img">
            <%= image_tag 'JULIETA.png', class: 'girl'  %>
          </div>
          <div class="name">
            <h3>JULIETA DE LAURENTIIS</h3>
          </div>
          <div class="pos" >
            <h4>Quilmes</h4>
          </div>
          <div class="loc">
            <h4>Local Premium Brands Head</h4>
          </div>
        </div>
      </div>




  </div>
    <% end %>

</div>