<div class="speakers" id='speaker1'>
  <div class="s-title">
    <div class="s-abs">
      <h1>SPEAKERS</h1>
    </div>
  </div>
  <% cache do %>
  <div class="speaker">

      <div class="fpic">
        <div class="pic">
          <div class="img">
            <%= image_tag 'Diego_Figueroa.jpg', class: 'girl' %>
          </div>
          <div class="name">
            <h3>DIEGO FIGUEROA</h3>
          </div>
          <div class="pos" >
            <h4>Global Brand Marketing & Strategy at Facebook</h4>
          </div>
          <div class="loc">
            <h4>SPEAKER</h4>
          </div>
        </div>
        <div class="pic">
          <div class="img">
            <%= image_tag 'Diego_Marti.jpg', class: 'girl'  %>
          </div>
          <div class="name">
            <h3>DIEGO MARTI</h3>
          </div>
          <div class="pos" >
            <h4>HR Director at Droga5</h4>
          </div>
          <div class="loc">
            <h4>SPEAKER</h4>
          </div>
        </div>
        <div class="pic">
          <div class="img">
            <%= image_tag 'Roberto_Ramirez.jpg', class: 'girl' %>
          </div>
          <div class="name">
            <h3>ROBERTO RAMIREZ</h3>
          </div>
          <div class="pos" >
            <h4>SVP, Marketing and Communications - LAC at Mastercard</h4>
          </div>
          <div class="loc">
            <h4>SPEAKER</h4>
          </div>
        </div>
      </div>
      <div class="fpic">
        <div class="pic">
          <div class="img">
            <%= image_tag 'Diego_Arellano.jpg', class: 'girl'  %>
          </div>
          <div class="name">
            <h3>DIEGO ARELLANO</h3>
          </div>
          <div class="pos" >
            <h4>Creative Director TBWA</h4>
          </div>
          <div class="loc">
            <h4>PANELISTA</h4>
          </div>
        </div>

        <div class="pic">
          <div class="img">
            <%= image_tag 'Giancarlo_Rodas.jpg', class: 'girl'  %>
          </div>
          <div class="name">
            <h3>GIANCARLO RODAS</h3>
          </div>
          <div class="pos" >
            <h4>Creative Director at Grey Group</h4>
          </div>
          <div class="loc">
            <h4>PANELISTA</h4>
          </div>
        </div>
        <div class="pic">
          <div class="img">
            <%= image_tag 'Ariana_Rodriguez.jpg', class: 'girl'  %>
          </div>
          <div class="name">
            <h3>ARIANA RODRIGUEZ</h3>
          </div>
          <div class="pos" >
            <h4>Videographer at Namshi.com</h4>
          </div>
          <div class="loc">
            <h4>PANELISTA</h4>
          </div>
        </div>
      </div>




  </div>
    <% end %>

</div>